APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

MAIL_PASSWORD=secret
MAIL_ADMIN=admin@mail.org

OAUTH_CLIENT_ID=oauth_id
OAUTH_CLIENT_SECRET=oauth_secret

CACHE_DRIVER=file
SESSION_DRIVER=file
